@use "../../styles/reference" as *;

.root {
  background: black;
  color: white;
  padding: 20rem;

  @include desktop {
    background: var(--color-blue-cher-ami);
  }

  @include desktop-portrait {
    background: green;
  }

  @include mobile-landscape {
    background: blue;
  }
}

.title {
  text-transform: uppercase;
  margin-bottom: 24rem;
}

.paragraphe {
  margin-bottom: 40rem;
}

.legend {
  text-align: right;
  font-size: 12rem;
  font-style: italic;
}

.fontSize {
  @include absoluteCenter();
  font-size: 40rem;
}
