@use "../../styles/reference" as *;

.root {
  background: black;
  color: white;
  text-transform: uppercase;

  @include desktop {
    background: red;
  }

  @include desktop-portrait {
    background: green;
  }

  @include mobile-landscape {
    background: blue;
  }
}

.fontSize {
  @include absoluteCenter();
  font-size: 40rem;
}
