# Output application depend of project
dist/front/.env
dist/front/vendor
dist/front/www/static
dist/front/www/.htaccess
dist/front/www/.htpasswd
dist/api/web/app/.cache

# Auto generated atoms
src/atoms/atoms.ts

vendor
.env.local
node_modules
.DS_Store
.idea
.vscode
.history
dist-ssr
*.local
.cache
