<?php

if (function_exists('acf_add_options_page')) {
  acf_add_options_page(array(
    'page_title' => __('%%pageTitle%%'),
    'menu_title' => __('%%pageTitle%%'),
    'menu_slug' => '%%pageName%%',
    'capability' => 'edit_posts',
    'redirect' => false,
    'position' => 20
  ));
}