@font-face {
  font-family: "roboto-regular";
  src:
    url("/src/fonts/roboto-regular/roboto-regular.woff2") format("woff2"),
    url("/src/fonts/roboto-regular/roboto-regular.woff") format("woff"),
    url("/src/fonts/roboto-regular/roboto-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin font-roboto-regular {
  font-family: "roboto-regular", sans-serif;
}

// Declare font-face & font mixin...
// Add the fonts in src/fonts folder
