// Used by ratio
$viewport-reference-width: 375;
$viewport-reference-height: 667;
$viewport-reference-tablet-width: 768;
$viewport-reference-tablet-height: 1024;
$viewport-reference-desktop-width: 1440;
$viewport-reference-desktop-height: 800;
