@use "./_breakpoints" as *;

:root {
  --breakpoint-mobile: #{$breakpoint-mobile};
  --breakpoint-mobile-horizontal: #{$breakpoint-mobile-horizontal};
  --breakpoint-tablet: #{$breakpoint-tablet};
  --breakpoint-tablet-height: #{$breakpoint-tablet-height};
  --breakpoint-laptop: #{$breakpoint-laptop};
  --breakpoint-bigLaptop-min: #{$breakpoint-bigLaptop-min};
  --breakpoint-bigLaptop: #{$breakpoint-bigLaptop};
  --breakpoint-desktop: #{$breakpoint-desktop};
}
