@use "./reference" as *;

// Inline imports are files included only once in this root file
@use "breakpoints-inline";
@use "colors-inline";
@use "fonts-inline";
@use "grid-inline";
@use "reset-inline";
@use "viewport-inline";

:root {
  @include propertyViewport(--initial-font-size, 1);
  @include propertyViewport(--font-size, 1);
}

html {
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 16rem;
  font-family: sans-serif;
  @include font-roboto-regular;
  background: var(--color-bg);
  color: var(--color-text);
}
