@use "reference";

:root {
  --viewport-reference-width: #{reference.$viewport-reference-width};
  --viewport-reference-height: #{reference.$viewport-reference-height};
  --viewport-reference-desktop-width: #{reference.$viewport-reference-desktop-width};
  --viewport-reference-desktop-height: #{reference.$viewport-reference-desktop-height};
}
