import "./%%upperComponentName%%.scss"
import { Component } from "@cher-ami/compose"
import debug from "@cher-ami/debug"

type TStaticProps = {}

const componentName = "%%upperComponentName%%"
const log = debug(`front:${componentName}`)

/**
 * @name %%upperComponentName%%
 */
export default class %%upperComponentName%% extends Component<TStaticProps> {
  static attrName = componentName

  mounted() {

  }
}
