@use "../../styles/reference" as *;

.root {
  width: 100%;
  height: auto;
  opacity: 0;
}

:global(.lazyloaded) {
  opacity: 1;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 0;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  &:global(.lazyJs) {
    opacity: 0;
  }
}
