<?php

namespace CherAmi\postType;

use CherAmi\api\PostRestController;
use CherAmi\block\ListBlockController;
use CherAmi\block\TextBlockController;
use CherAmi\block\TitleBlockController;


class %%pascalCasePostType%%RestController extends PostRestController
{

    public function register_routes(): void{
        parent::register_routes();
    }

    public static function format($post){
        $data = [];

        return $data;
    }

}
