@import (reference) "./references.less";
@import (inline) "../node_modules/@solid-js/css-flat/css-flat.css";
@import "./fonts/fonts.less";

html,
body {
  font-family: sans-serif;
  background: @color-bg;
  color: @color-text;
  .font-roboto-regular();

  #root {
  }
}
